<div>
<h1>Dades obertes</h1>&#13;
&#13;
<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#license" title="License" class="secondary pure-button" data-scroll>Llicència</a></li>&#13;
      <li><a href="#xml" title="XML" class="secondary pure-button" data-scroll>XML</a></li>&#13;
      <li><a href="#source-code" title="Source code" class="secondary pure-button" data-scroll>Codi font</a></li>&#13;
      <li><a href="#software" title="Software" class="secondary pure-button" data-scroll>Programari extern</a></li>&#13;
      <li><a href="#geodata" title="Geodata" class="secondary pure-button" data-scroll>Geodades</a></li>&#13;
    </ul></header></section><section class="section-centered"><div id="ogd" class="panel">&#13;
    <p>Totes les dades desenvolupades i generades dins d’aquest projecte estan disponibles de forma gratuïta. A continuació s'enumeren les dades i la informació de lliure accés, així com també la informació sobre llicències i programari extern addicional utilitzat.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="license" class="panel">&#13;
    <h2>Llicència</h2>&#13;
    <p>Tot el nostre programari té llicència&#13;
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GPLv3</a>.</p>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="xml-label" class="panel">&#13;
    <h2>Avalanche.report XML</h2>&#13;
    <p>El butlletí diari es publica en format XML i es pot trobar aquí:</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="xml" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML" alt="XML" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML</h4>&#13;
        </div>&#13;
        <p>Cada butlletí es publica en 7 llengües i els arxius XML corresponents
del butlletí més recent estan disponibles en aquestes URLs:</p>&#13;
        <ul>
<li>DE:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/de.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/de.xml&#13;
            </a>
</li>&#13;
          <li>IT:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/it.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/it.xml&#13;
            </a>
</li>&#13;
          <li>EN:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/en.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/en.xml&#13;
            </a>
</li>&#13;
          <li>FR:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/fr.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/fr.xml&#13;
            </a>
</li>&#13;
          <li>SP:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/sp.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/sp.xml&#13;
            </a>
</li>&#13;
          <li>CA:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/ca.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/ca.xml&#13;
            </a>
</li>&#13;
          <li>OC:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/oc.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/oc.xml&#13;
            </a>
</li>&#13;
        </ul>
</div>&#13;
    </div>&#13;
  </div>&#13;
  <div id="xml-schema-label" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML Schema" alt="XML Schema" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <h4>XML Schema</h4>&#13;
        </div>&#13;
        <p>L'arxiu XML segueix el&#13;
          <a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html" target="_blank" rel="noopener noreferrer">CAAML</a>&#13;
          estàndard<br></p>&#13;
        <p><a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd" target="_blank" rel="noopener noreferrer">&#13;
            Descarregar un fitxer d'esquema XML&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="source-code" class="panel">&#13;
    <h2>Codi font</h2>&#13;
    <p>Tot el nostre codi font està allotjat a
      <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> i es pot trobar&#13;
      als següents repositoris:</p>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="server" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3">
<img src="/content_files/java_bsd.svg" title="Java" alt="Java" class="warning-level-icon" style="margin: 0 0 0.9rem 0"><p class="small" style="font-size: 0.6rem">Copyright © Sun Microsystems Inc.</p>&#13;
      </div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>JAVA</p>&#13;
          <h4>Aplicació del servidor</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/albina-server" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-server&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="admin-gui" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/angular.svg" title="Angular" alt="Angular" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Angular</p>&#13;
          <h4>Admin GUI</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/aineva/albina-admin-gui" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-admin-gui&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="website" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Reaccionar</p>&#13;
          <h4>Lloc web</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/aineva/albina-web-site-test" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-web-site-test&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="cop" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/preact.svg" title="Preact" alt="Preact" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Preact</p>&#13;
          <h4>Catàleg de frases</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/textcat-ng" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/textcat-ng&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="awm" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/mapyrus.webp" title="Mapyrus" alt="Mapyrus" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Mapyrus</p>&#13;
          <h4>Mapes d’alerta d’allaus</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/aineva/avalanche-warning-maps" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/avalanche-warning-maps&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered"><div id="software" class="panel">&#13;
    <h2>Programari extern</h2>&#13;
    <p>Al nostre projecte s’utilitza el següent programari extern:</p>&#13;
  </div>&#13;
&#13;
  <div id="geonames" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-12">&#13;
        <div class="panel-header">&#13;
          <h6><a href="http://mapyrus.sourceforge.net/" target="_blank" rel="noopener noreferrer">&#13;
              Mapyrus&#13;
            </a></h6>&#13;
          <p>Mapyrus produeix superposicions i tots els altres mapes d’alerta.</p>&#13;
        </div>&#13;
        <div class="panel-header">&#13;
          <h6><a href="https://www.geonames.org/" target="_blank" rel="noopener noreferrer">&#13;
              GeoNames&#13;
            </a></h6>&#13;
          <p>La cerca de característiques geogràfiques als mapes es realitza mitjançant
GeoNames.</p>&#13;
        </div>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section><section class="section-centered section-dangerscale"><div id="geodata" class="panel">&#13;
    <h2>Dades SIG</h2>&#13;
    <p>Les nostres dades geogràfiques també són de lliure accés:</p>&#13;
  </div>&#13;
&#13;
  <div id="base-map" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/base-map.webp" title="Base Map" alt="Base Map" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>SIG</p>&#13;
          <h4>Mapa base</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/albina-euregio/base-map" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/base-map&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
&#13;
  <div id="micro-regions" class="panel field border">&#13;
    <div class="grid">&#13;
      <div class="grid-item small-3"><img src="/content_files/micro-regions.webp" title="Micro Regions" alt="Micro Regions" class="warning-level-icon"></div>&#13;
      <div class="grid-item small-9">&#13;
        <div class="panel-header">&#13;
          <p>Polígons</p>&#13;
          <h4>Micro-regions</h4>&#13;
        </div>&#13;
        <p><a href="https://gitlab.com/eaws/eaws-regions" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/eaws/eaws-regions&#13;
          </a></p>&#13;
      </div>&#13;
    </div>&#13;
  </div>&#13;
</section>
</div>
