<div>
<h1>Open Data</h1>

<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#license" title="Lizenz" class="secondary pure-button" data-scroll="">Lizenz</a></li>
      <li><a href="#xml" title="XML" class="secondary pure-button" data-scroll>XML</a></li>
      <li><a href="#source-code" title="Quelltext" class="secondary pure-button" data-scroll="">Quelltext</a></li>
      <li><a href="#software" title="Software" class="secondary pure-button" data-scroll>Externe Software</a></li>
      <li><a href="#geodata" title="Geodaten" class="secondary pure-button" data-scroll="">Geodaten</a></li>
    </ul></header></section><section class="section-centered"><div id="ogd" class="panel">
    <p>Alle Entwicklungen und Daten aus diesem Projekt sind frei zugänglich. Im Folgenden sind alle Daten, Informationen zu Lizenzen und externer Software zu finden.</p>
  </div>
</section><section class="section-centered"><div id="license" class="panel">
    <h2>Lizenz</h2>
    <p>Unsere gesamte Software ist unter <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GPLv3</a> lizenziert.</p>
  </div>
</section><section class="section-centered"><div id="xml-label" class="panel">
    <h2>Lawinen.report XML</h2>
    <p>Das tägliche Bulletin wird als XML veröffentlicht und ist hier zu finden:</p>
  </div>
</section><section class="section-centered section-dangerscale"><div id="xml" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML" alt="XML" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>XML</h4>
        </div>
        <p>Jeder Lawinenreport wird in 7 Sprachen veröffentlicht und die entsprechenden XML Dateien für den letztgültigen Report sind unter folgenden URLs zu finden:</p>
        <ul>
<li>DE:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/de.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/de.xml&#13;
            </a>
</li>
          <li>IT:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/it.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/it.xml&#13;
            </a>
</li>
          <li>EN:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/en.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/en.xml&#13;
            </a>
</li>
          <li>FR:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/fr.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/fr.xml&#13;
            </a>
</li>
          <li>SP:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/sp.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/sp.xml&#13;
            </a>
</li>
          <li>CA:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/ca.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/ca.xml&#13;
            </a>
</li>
          <li>OC:&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/oc.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/oc.xml&#13;
            </a>
</li>
        </ul>
</div>
    </div>
  </div>
  <div id="xml-schema-label" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML Schema" alt="XML Schema" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>XML Schema</h4>
        </div>
        <p>Die XML Datei entspricht dem <a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html" target="_blank" rel="noopener noreferrer">CAAML</a>-Standard.<br></p>
        <p><a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd" target="_blank" rel="noopener noreferrer">Download XML Schema</a></p>
      </div>
    </div>
  </div>
</section><section class="section-centered"><div id="source-code" class="panel">
    <h2>Quelltext</h2>
    <p>Unser gesamter Quelltext liegt auf <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> und kann in folgenden Repositories gefunden werden:</p>
  </div>
</section><section class="section-centered section-dangerscale"><div id="server" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3">
<img src="/content_files/java_bsd.svg" title="Java" alt="Java" class="warning-level-icon" style="margin: 0 0 0.9rem 0"><p class="small" style="font-size: 0.6rem">Copyright © Sun Microsystems Inc.</p>
      </div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>JAVA</p>
          <h4>Server-Applikation</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/albina-server" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-server&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="admin-gui" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/angular.svg" title="Angular" alt="Angular" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Angular</p>
          <h4>Admin GUI</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/albina-admin-gui" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-admin-gui&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="website" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>React</p>
          <h4>Website</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/albina-web-site-test" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-web-site-test&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="cop" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Preact</p>
          <h4>Satzkatalog</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/textcat-ng" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/textcat-ng&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="awm" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/mapyrus.webp" title="Mapyrus" alt="Mapyrus" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Mapyrus</p>
          <h4>Gefahrenstufenkarten</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/avalanche-warning-maps" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/avalanche-warning-maps&#13;
          </a></p>
      </div>
    </div>
  </div>
</section><section class="section-centered"><div id="software" class="panel">
    <h2>Externe Software</h2>
    <p>Die folgende externe Software wird in unserem Projekt verwendet:</p>
  </div>

  <div id="geonames" class="panel field border">
    <div class="grid">
      <div class="grid-item small-12">
        <div class="panel-header">
          <h6><a href="http://mapyrus.sourceforge.net/" target="_blank" rel="noopener noreferrer">&#13;
              Mapyrus&#13;
            </a></h6>
          <p>Overlay sowie alle anderen Gefahrenstufenkarten werden mit Hilfe von Mapyrus gezeichnet.</p>
        </div>
        <div class="panel-header">
          <h6><a href="https://www.geonames.org/" target="_blank" rel="noopener noreferrer">&#13;
              GeoNames&#13;
            </a></h6>
          <p>Die Suche innerhalb der Karte erfolgt über GeoNames.</p>
        </div>
      </div>
    </div>
  </div>
</section><section class="section-centered section-dangerscale"><div id="geodata" class="panel">
    <h2>Geodaten</h2>
    <p>Auch unsere geografischen Daten sind frei verfügbar:</p>
  </div>

  <div id="base-map" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/base-map.webp" title="Base Map" alt="Base Map" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>GIS</p>
          <h4>Grundkarte</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/base-map" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/base-map&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="micro-regions" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/micro-regions.webp" title="Micro Regions" alt="Micro Regions" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Polygone</p>
          <h4>Mikroregionen</h4>
        </div>
        <p><a href="https://gitlab.com/eaws/eaws-regions" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/eaws/eaws-regions&#13;
          </a></p>
      </div>
    </div>
  </div>
</section>
</div>
