<div>
<h1>Open Data</h1>

<section class="section-padding"><header class="section-centered"><ul class="list-inline list-buttongroup-dense">
<li><a href="#license" title="License" class="secondary pure-button" data-scroll>Licence</a></li>
      <li><a href="#xml" title="XML" class="secondary pure-button" data-scroll>XML</a></li>
      <li><a href="#source-code" title="Source code" class="secondary pure-button" data-scroll>Code source</a></li>
      <li><a href="#software" title="Software" class="secondary pure-button" data-scroll>Logiciel externe</a></li>
      <li><a href="#geodata" title="Geodata" class="secondary pure-button" data-scroll="">Données GIS</a></li>
    </ul></header></section><section class="section-centered"><div id="ogd" class="panel">
    <p>Toutes les données développées et générées dans le cadre de ce projet sont disponibles gratuitement. La liste suivante énumère les données et informations librement accessibles, ainsi que des informations sur les licences et les logiciels externes supplémentaires utilisés.</p>
  </div>
</section><section class="section-centered"><div id="license" class="panel">
    <h2>Licence</h2>
    <p>Tous nos logiciels sont sous licence <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GPLv3</a>.</p>
  </div>
</section><section class="section-centered"><div id="xml-label" class="panel">
    <h2>Avalanche.report XML</h2>
    <p>Le bulletin quotidien est publié en format XML et peut être consulté ici :</p>
  </div>
</section><section class="section-centered section-dangerscale"><div id="xml" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML" alt="XML" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>XML</h4>
        </div>
        <p>Chaque bulletin est publié en 7 langues et les fichiers XML correspondants du dernier bulletin sont disponibles à ces URL :</p>
        <ul>
<li>DE :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/de.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/de.xml&#13;
            </a>
</li>
          <li>IT :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/it.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/it.xml&#13;
            </a>
</li>
          <li>EN :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/en.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/en.xml&#13;
            </a>
</li>
          <li>FR :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/fr.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/fr.xml&#13;
            </a>
</li>
          <li>SP :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/sp.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/sp.xml&#13;
            </a>
</li>
          <li>CA :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/ca.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/ca.xml&#13;
            </a>
</li>
          <li>OC :&#13;
            <a href="https://bollettini.aineva.it/albina_files/latest/oc.xml" target="_blank" rel="noopener noreferrer">&#13;
              https://bollettini.aineva.it/albina_files/latest/oc.xml&#13;
            </a>
</li>
        </ul>
</div>
    </div>
  </div>
  <div id="xml-schema-label" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/xml.svg" title="XML Schema" alt="XML Schema" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <h4>XML Schema</h4>
        </div>
        <p>Le fichier XML suit le <a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/index.html" target="_blank" rel="noopener noreferrer">CAAML</a> standard.<br></p>
        <p><a href="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS.xsd" target="_blank" rel="noopener noreferrer">télécharger le fichier de schéma xml</a></p>
      </div>
    </div>
  </div>
</section><section class="section-centered"><div id="source-code" class="panel">
    <h2>Code source</h2>
    <p>L'ensemble de notre code source est hébergé sur <a href="https://gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> et peuvent être trouvés dans les dépôts suivants:</p>
  </div>
</section><section class="section-centered section-dangerscale"><div id="server" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3">
<img src="/content_files/java_bsd.svg" title="Java" alt="Java" class="warning-level-icon" style="margin: 0 0 0.9rem 0;"><p class="small" style="font-size: 0.6rem">Copyright © Sun Microsystems Inc.</p>
      </div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>JAVA</p>
          <h4>Application serveur</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/albina-server" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/albina-server&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="admin-gui" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/angular.svg" title="Angular" alt="Angular" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Angular</p>
          <h4>Admin GUI</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/albina-admin-gui" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-admin-gui&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="website" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>React</p>
          <h4>Website</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/albina-web-site-test" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/albina-web-site-test&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="cop" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/react.svg" title="React" alt="React" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Preact</p>
          <h4>Catalogue de phrases</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/textcat-ng" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/textcat-ng&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="awm" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/mapyrus.webp" title="Mapyrus" alt="Mapyrus" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Mapyrus</p>
          <h4>Cartes d'alerte aux avalanches</h4>
        </div>
        <p><a href="https://gitlab.com/aineva/avalanche-warning-maps" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/aineva/avalanche-warning-maps&#13;
          </a></p>
      </div>
    </div>
  </div>
</section><section class="section-centered"><div id="software" class="panel">
    <h2>Logiciel externe</h2>
    <p>Le logiciel externe suivant est utilisé dans notre projet:</p>
  </div>

  <div id="geonames" class="panel field border">
    <div class="grid">
      <div class="grid-item small-12">
        <div class="panel-header">
          <h6><a href="http://mapyrus.sourceforge.net/" target="_blank" rel="noopener noreferrer">&#13;
              Mapyrus&#13;
            </a></h6>
          <p>Les superpositions ainsi que toutes les autres cartes d'alerte sont produites par Mapyrus.</p>
        </div>
        <div class="panel-header">
          <h6><a href="https://www.geonames.org/" target="_blank" rel="noopener noreferrer">&#13;
              GeoNames&#13;
            </a></h6>
          <p>La recherche de caractéristiques géographiques dans les cartes est alimentée par GeoNames.</p>
        </div>
      </div>
    </div>
  </div>
</section><section class="section-centered section-dangerscale"><div id="geodata" class="panel">
    <h2>Données GIS</h2>
    <p>Nos données géographiques sont également disponibles gratuitement:</p>
  </div>

  <div id="base-map" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/base-map.webp" title="Base Map" alt="Base Map" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>GIS</p>
          <h4>Carte de base</h4>
        </div>
        <p><a href="https://gitlab.com/albina-euregio/base-map" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/albina-euregio/base-map&#13;
          </a></p>
      </div>
    </div>
  </div>

  <div id="micro-regions" class="panel field border">
    <div class="grid">
      <div class="grid-item small-3"><img src="/content_files/micro-regions.webp" title="Micro Regions" alt="Micro Regions" class="warning-level-icon"></div>
      <div class="grid-item small-9">
        <div class="panel-header">
          <p>Polygones</p>
          <h4>Micro régions</h4>
        </div>
        <p><a href="https://gitlab.com/eaws/eaws-regions" target="_blank" rel="noopener noreferrer">&#13;
            https://gitlab.com/eaws/eaws-regions&#13;
          </a></p>
      </div>
    </div>
  </div>
</section>
</div>
