<div>
  <h1>Chi siamo</h1>
  &#13; &#13;
  <section class="section-centered">
    <div class="panel">
      &#13;
      <p>
        In questi ultimi anni gli appassionati di attività sportivo-ricreative
        invernali sulle Alpi Italiane e gli Appennini stanno scoprendo sempre
        nuovi ed entusiasmanti itinerari. Per garantire la prevenzione degli
        incidenti in valanga i Servizi valanghe Regionali e Provinciali
        afferenti ad AINEVA pubblicano regolarmente nel periodo invernale
        (indicativamente da Dicembre a Maggio) i bollettini valanghe per
        l’intero territorio di pertinenza (Regione Piemonte, Regione Autonoma
        Valle d'Aosta, Regione Lombardia, Provincia Autonoma di Trento,
        Provincia Autonoma di Bolzano, Regione del Veneto, Regione Autonoma
        Friuli-Venezia Giulia, Regione Marche).
      </p>
      &#13; &#13;
      <h2>L’idea: un progetto congiunto</h2>
      &#13;
      <p>
        Dalla stagione 2015/2016 AINEVA ha deciso di riunire in un'unica
        piattaforma i bollettini prodotti dagli Enti associati. In tempi più
        recenti (stagione 2019/2020) al fine di favorire la nascita di un
        prodotto previsionale multilingue e standardizzato a livello Europeo
        (EAWS - European Avalanche Warning Services), AINEVA ha adottato la
        piattaforma sviluppata nell'ambito del progetto Interreg Italia-Austria
        denominato ALBINA Euregio-Bollettino Valanghe cui hanno partecipato le
        due Province Autonome di Trento e Bolzano assieme al Land austriaco del
        Tirolo.
      </p>
      <p>
        A tal fine il progetto ALBINA Euregio-Bollettino Valanghe, adottato con
        alcune personalizzazioni anche da AINEVA, si propone di uniformare il
        lavoro degli addetti mediante un workflow unificato basato su standard
        EAWS per la redazione del bollettino e appositi periodici corsi di
        formazione. La nuova piattaforma per la redazione dei bollettini
        facilita lo scambio di informazioni tra i previsori valanghe degli Enti
        afferenti ad AINEVA, grazie anche ad una nuova piattaforma (YetiWeb -
        banca dati condivisa) che consente la visualizzazione dei dati derivanti
        dalle reti di osservazioni e misura su tutto l'Arco Alpino e
        sull'Appennino Marchigiano.
      </p>
      <p>
        Lo scambio di informazioni avviene tramite interfacce e formati
        standardizzati che faciliteranno futuri ampliamenti e collegamenti anche
        con i servizi di altri paesi confinanti. Il bollettino valanghe di
        AINEVA si presenterà sul sito
        (https://bollettini.aineva.it/bulletin/latest) in modo intuitivo e
        uniforme grazie a una cartografia ottimizzata e a descrizioni basate su
        blocchi di testo predefiniti (frasario multilingue). Interfacce
        standardizzate con i media, i social network e l'App AINEVA per la
        consultazione da smartphone faciliteranno la diffusione del bollettino.
        I dati saranno liberamente accessibili supportando così l’iniziativa
        Open Data. Questo primo bollettino valanghe transfrontaliero costituirà
        un decisivo passo avanti nella prevenzione e nella gestione dei rischi
        sulle Alpi Italiane e l'Appennino Marchigiano.
      </p>
      &#13; &#13;
    </div>
  </section>
</div>
