<div>
  <h1>Contatto</h1>
  &#13;
  <section class="section-centered">
    <div class="panel field border">
      <h1 class="subheader">AINEVA</h1>
      <p>
        Vicolo dell’Adige 27 <br />
        38122 TRENTO <br />
        Tel.++39 0461 230305 – Fax ++39 0461 232225
      </p>
      <p>
        <a class="pure-button" href="mailto:aineva@aineva.it"
          >aineva@aineva.it</a
        >
        <a class="pure-button" href="mailto:aineva@pec.aineva.it"
          >aineva@pec.aineva.it</a
        >
        <br />
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/piemo.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE PIEMONTE</h1>
      <h4 class="subheader">ARPA Piemonte</h4>
      <p>
        Dipartimento rischi naturali e ambientali <br />
        Via Pio VII 9 <br />
        10135 TORINO <br />
        Tel 011 19681350 – Fax 011 19681341
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/aosta.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE AUTONOMA VALLE D’AOSTA</h1>
      <h4 class="subheader">
        Assessorato opere pubbliche, difesa del suolo ed edilizia residenziale
        pubblica
      </h4>
      <p>
        Direzione assetto idrogeologico dei bacini montani <br />
        Ufficio neve e valanghe <br />
        Loc. Amerique 33/A <br />
        11020 QUART AO <br />
        Tel 0165 776605/6 – fax 0165 776827
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/lombar.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE LOMBARDIA</h1>
      <h4 class="subheader">ARPA Lombardia</h4>
      <p>
        Settore tutela delle risorse e rischi naturali <br />
        U.O. Centro Nivometeorologico <br />
        Via Monte Confinale 9 <br />
        23032 BORMIO SO <br />
        Tel 0342 914400 – fax 0342 905133
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/trento.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">PROVINCIA AUTONOMA DI TRENTO</h1>
      <h4 class="subheader">Ufficio Previsioni e Pianificazione</h4>
      <p>
        Via Vannetti 41 <br />
        38122 TRENTO <br />
        Tel 0461 494870 – fax 0461 238305
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/bolzano.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">PROVINCIA AUTONOMA DI BOLZANO</h1>
      <h4 class="subheader">Ufficio Meteorologia e Prevenzione Valanghe</h4>
      <p>
        Viale Druso 116 <br />
        39100 BOLZANO <br />
        Tel 0471 416140 – fax 0471 416159
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/veneto.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE DEL VENETO</h1>
      <h4 class="subheader">ARPA Veneto</h4>
      <p>
        Centro Valanghe di Arabba <br />
        Via Pradat 5 <br />
        32020 ARABBA BL <br />
        Tel 0436 755711 – fax 0436 79319
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/friuli.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE AUTONOMA FRIULI – VENEZIA GIULIA</h1>
      <h4 class="subheader">
        Direzione centrale risorse agroalimentari, forestali e ittiche
      </h4>
      <p>
        Servizio foreste e corpo forestale <br />
        Struttura stabile centrale per l’attività di prevenzione del rischio da
        valanga <br />
        Via Sabbadini 31 <br />
        33100 UDINE <br />
        Tel 0432 555877 – fax 0432 485782
      </p>
    </div>

    <div class="panel field border">
      <img
        src="https://aineva.it/wp-content/uploads/2015/07/marche.jpg"
        alt=""
        style="float: right"
      />
      <h1 class="subheader">REGIONE MARCHE</h1>
      <h4 class="subheader">Servizio Protezione Civile</h4>
      <p>
        Centro Funzionale Multirischi per la Meteorologia e l’Idrologia <br />
        Via del Colle Ameno 5 <br />
        60126 ANCONA <br />
        Tel.: 071 8067743 – fax. 071 8067709
      </p>
    </div>
  </section>
</div>
